### General ###
.idea/

### Solidity ###
build/
cache/
artifacts.json
artifacts/

### Coverage ###
coverage.json
coverage/

### Node ###
# Dependency directories
node_modules

# Environment variables file
.env
